@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.speedTypingTest {
    background-color: #dac0ff;
    height: 100vh;
    text-align: center;
    font-family: Roboto;
    color: #3e4c59;
}

h1 {
    color: #690cb0;
}

.container {
    background-color: #f2ebfe;
}

#submitBtn {
    background-color: #690cb0;
    border: 0;
    padding: 7px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
}

#resetBtn {

    border: 0;
    padding: 7px;
    font-size: 12px;
    border-radius: 3px;
}